

.p {
    overflow-wrap: normal;
    margin: 4px;

}

.scrollable {
    height: 200px;
    /* overflow-x: hidden; */
    overflow-y: auto;

    background-color: rgb(145, 145, 231);
    padding: 18px 12px;
    border: 2px solid rgb(58, 58, 134);
}

.stickytitle {
    position: sticky;
    top: 0;
    font-weight: 800;
    font-size: 3rem;
}

.section {
    margin:  6px;
    padding: 6px;
    background-color: rgb(165, 165, 165);
}

    .stickycaption {
        position: sticky;
        top: 0;

        font-weight: 500;   font-size: 1.2rem;  
        z-index: 10; 
        color: #fff;
        
        text-align: center;
        padding: 6px 0;
        /* border: 2px solid #fff; */
        background-color: #000;
    }

    /*  */



/* --- */